<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>289113257493-5tbujv4h6t2cjijtk2b7lcmbv2okc75b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.289113257493-5tbujv4h6t2cjijtk2b7lcmbv2okc75b</string>
	<key>API_KEY</key>
	<string>AIzaSyBLz-N8pJlxebsGbIXKdEUWXa2KE4ZVnnM</string>
	<key>GCM_SENDER_ID</key>
	<string>289113257493</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nisanaesan</string>
	<key>PROJECT_ID</key>
	<string>usan-8525b</string>
	<key>STORAGE_BUCKET</key>
	<string>usan-8525b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:289113257493:ios:d152015897a55889c6c01c</string>
</dict>
</plist>